include "conf.d/input.kdl"
include "conf.d/outputs.kdl"
include "conf.d/layout.kdl"
include "conf.d/theme.kdl"
include "conf.d/decorations.kdl"
include "conf.d/effects.kdl"
include "conf.d/overview.kdl"
include "conf.d/recent-windows.kdl"
include "conf.d/animations.kdl"
include "conf.d/startup.kdl"
include "conf.d/behavior.kdl"
include "conf.d/rules.kdl"
include "conf.d/binds.kdl"
