# {{ scheme-name }}

foreground #{{ base05-hex }}
background #{{ base00-hex }}
selection_foreground #{{ base00-hex }}
selection_background #{{ base06-hex }}

cursor #{{ base06-hex }}
cursor_text_color #{{ base00-hex }}
url_color #{{ base06-hex }}

active_border_color #{{ base07-hex }}
inactive_border_color #{{ base03-hex }}
bell_border_color #{{ base0A-hex }}

wayland_titlebar_color system
macos_titlebar_color system

active_tab_foreground #{{ base00-hex }}
active_tab_background #{{ base0E-hex }}
inactive_tab_foreground #{{ base05-hex }}
inactive_tab_background #{{ base03-hex }}
tab_bar_background #{{ base02-hex }}
scrollbar_track_color #{{ base02-hex }}

mark1_foreground #{{ base00-hex }}
mark1_background #{{ base07-hex }}
mark2_foreground #{{ base00-hex }}
mark2_background #{{ base0E-hex }}
mark3_foreground #{{ base00-hex }}
mark3_background #{{ base16-hex }}

color0 #{{ base00-hex }}
color1 #{{ base08-hex }}
color2 #{{ base0B-hex }}
color3 #{{ base0A-hex }}
color4 #{{ base0D-hex }}
color5 #{{ base17-hex }}
color6 #{{ base0C-hex }}
color7 #{{ base05-hex }}
color8 #{{ base03-hex }}
color9 #{{ base08-hex }}
color10 #{{ base14-hex }}
color11 #{{ base0A-hex }}
color12 #{{ base0D-hex }}
color13 #{{ base17-hex }}
color14 #{{ base0C-hex }}
color15 #{{ base02-hex }}
