// General compositor behavior that is not input, layout, rules, or binds.
hotkey-overlay {
    skip-at-startup
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

gestures {
    hot-corners {
        off
    }
}

cursor {
    hide-when-typing
    hide-after-inactive-ms 1000
}

clipboard {
    disable-primary
}

config-notification {
    disable-failed
}
