// Window decoration structure and dimensions.
layout {
    focus-ring {
        off
    }

    border {
        on
        width 2
    }

    tab-indicator {
        hide-when-single-tab
        width 4
        gap 7.5
        length total-proportion=0.35
        position "left"
        place-within-column
    }
}

window-rule {
    geometry-corner-radius 15
    clip-to-geometry true

    draw-border-with-background false

    opacity 0.95

    background-effect {
        blur false
    }
}

layer-rule {
    match namespace="^quickshell-wallpaper$"

    place-within-backdrop true
}

prefer-no-csd

cursor {
    xcursor-theme "breeze_cursors"
    xcursor-size 48
}