hotkey-overlay {
    skip-at-startup
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

gestures {
    hot-corners {
        off
    }
}

cursor {
    xcursor-theme "breeze_cursors"
    xcursor-size 48

    hide-when-typing
    hide-after-inactive-ms 1000
}

overview {
    zoom 0.5
}

clipboard {
    disable-primary
}

config-notification {
    disable-failed
}

blur {
    on
    passes 3
    offset 3.0
    noise 0.02
    saturation 1.5
}