// Catppuccin Latte
layout {
    border {
        active-color "#1e66f5"
        inactive-color "#bcc0cc"
        urgent-color "#d20f39"
    }

    shadow {
        color "#4c4f6926"
    }

    background-color "transparent"
}

overview {
    backdrop-color "#eff1f5"

    workspace-shadow {
        color "#4c4f6933"
    }
}

recent-windows {
    highlight {
        active-color "#1e66f5ff"
        urgent-color "#d20f39ff"
    }
}
