// {{ scheme-name }}
layout {
    border {
        active-color "#{{ base0D-hex }}"
        inactive-color "#{{ base02-hex }}"
        urgent-color "#{{ base08-hex }}"
    }

    shadow {
        color "#{{ base05-hex }}26"
    }

    background-color "transparent"
}

overview {
    backdrop-color "#{{ base00-hex }}"

    workspace-shadow {
        color "#{{ base05-hex }}33"
    }
}

recent-windows {
    highlight {
        active-color "#{{ base0D-hex }}ff"
        urgent-color "#{{ base08-hex }}ff"
    }
}
